* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    background-color: #ffffff;
}

.container1 {
    width: 100%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    padding: 15px 2%;
    background-color: #2bc48a;
    position: relative;
}

header div.logo {
    display: inline-block;
}

header div.logo img {
    width: 40px;
    height: auto;
    object-fit: contain;
}

header nav.desktop {
    float: right;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 16px;
    padding: 0 20px;
}

header nav.desktop ul li a {
    color: #ffffff;
    text-decoration: none;
}

.container2 .box,
.container3 .box {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    color: #ffffff;
}

.container2 .box h2,
.container3 .box h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2dad42;
    text-align: center;
}

.container2 .box label,
.container3 .box label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #646569;
}

.container2 .box input[type="text"],
.container2 .box select,
.container3 .box input[type="search"] {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #2dad42;
    outline: none;
    background-color: #646569;
}

.container2 .box input[type="submit"],
.container3 .box input[type="submit"] {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #2dad42;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#table-container {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #2bc48a;
    color: #646569;
    font-weight: bold;
}

table th {
    background-color: #ffffff;
    color: #646569;
}

.btn-delete {
    background-color: #c00;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;
}

/* Efeitos */
.container2 .box input[type="submit"]:hover,
.container3 .box input[type="submit"]:hover {
    background-color: #2bc48a;
}

header nav.desktop ul li a:hover {
    background: #2dad42;
    color: #646569; 
    padding: 10px;
    border-radius: 5px;
}

.btn-delete:hover {
    background-color: #900;
}


/* Design responsivo */
@media (max-width: 768px) {
    header div.logo {
        text-align: center;
    }
    
    header div.logo img {
        display: none;
    }

    header nav.desktop {
        float: none;
        margin-top: 20px;
        text-align: center;
    }
    
    header nav.desktop ul li {
        float: none;
        display: block;
        margin: 25px 10px;
    }
    
    .container2 .box,
    .container3 .box {
        width: 80%;
    }
    
    .container2 .box input[type="text"],
    .container2 .box select,
    .container3 .box input[type="search"] {
        font-size: 12px;
        padding: 8px;
    }
    
    .container2 .box input[type="submit"],
    .container3 .box input[type="submit"] {
        padding: 10px 16px;
        font-size: 12px;
    }
    
    table th,
    table td {
        padding: 8px;
    }
    
    .btn-delete {
        padding: 10px 16px;
        font-size: 12px;
    }
}