<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Controle de acesso de veículos">
    <meta name="keywords" content="controle, acesso, veículos, cadastro">
    <meta name="author" content="Arthur Scarpin de Carvalho">
    <title>Tela de cadastro de usuário</title>
    <link rel="stylesheet" href="../static/css/login_cadastro.css">
</head>
<body>
    <main>
        <div class="container-left">
            <div class="box">
                <form action="/login_cadastro" id="cadastro" method="post">
                    {% set mensagem = get_flashed_messages() %}
                    {% if "sucesso" in mensagem[0] %}
                    <div class="mensagem sucesso">
                        {{ mensagem[0] }}
                    </div>
                    {% else %}
                        <div class="mensagem erro">
                            {{ mensagem[0] }}
                        </div>
                    {% endif %}
                    <h2>Criar conta</h2>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" name="sobrenome" id="sobrenome">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">
                    <div class="form-buttons">
                        <input type="submit" name="criar" value="Criar conta" id="btn-criar">
                    </div><!--form-buttons-->
                    <label>Já possui uma conta?</label>
                    <a class="nav-link" href="{{ url_for('redirecionar_login') }}">Faça login</a>
                </form>
            </div><!--box-->
        </div><!--container-left-->
        <div class="container-right">
            <div class="container-right" style="background-image: url('../static/css/images/background.png')"></div>
        </div><!--container-right-->
    </main>
</body>
</html>
